/* News */
@import 'sass/lib.scss';

.install {
  display: flex;
  flex-direction: column;
  * {
    flex: 1 0 0;
  }
}
.installButton {
  padding: 0 10px 0 10px;
  border: 3px $color-solarized-dark solid;
  border-radius: 5px;
  background: $color-solarized-dark;
  cursor: copy;
  text-align: left;
}

.installDone {
  @extend .installButton;
  border: 3px solid $color-green-light
}
.copied {
  margin-top: -24px;
  font-size: 13px;
  color: $color-grey-med;
  text-align: center;
}
.copy {
  color: $color-grey-med;
  text-align: right;
  border: $color-grey-med 1px ridge;
  width: 100px;
  position: absolute;
}

@media all and (max-width: $limit-tablet){
}

@media all and (min-width: $limit-tablet + 1){
}
