@import "sass/lib.scss";

.toggle {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    button {
        margin-left: 10px;
        color: $color-link;
        font-size: $font-size;
    }
}

.landingForm {
  margin-top: 15px;
  background-color: $color-grey-extra-light;
  height: 600px;
  .form {
      padding: 20px 100px 20px 100px;
    input + button {
      margin-top: 0.8rem;
    }
  }
  .pane {
    background-image: url("https://images.unsplash.com/photo-1573147367786-a5a227916f0c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }
  @media only screen and #{$mobile} {
    display: flex;
  }
  @media only screen and #{$desktop} {
    border-radius: 9px;
    display: flex;
    .form {
      width: 50%;
    }
    .pane {
      border-top-right-radius: 9px;
      border-bottom-right-radius: 9px;
      width: 50%;
      height: 100%;
    }
  }
}
